<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsuarioService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17982/UsuarioService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
        contract="UsuarioService.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
    </client>
  </system.serviceModel>
</configuration>
