<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_IPrestamosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17982/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="UsuarioWS.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
            <endpoint address="http://localhost:17982/PrestamosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamosService"
                contract="PrestamoWS.IPrestamosService" name="BasicHttpBinding_IPrestamosService" />
        </client>
    </system.serviceModel>
</configuration>