<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_IPrestamosService" />
                <binding name="BasicHttpBinding_ICronogramasService" />
                <binding name="BasicHttpBinding_ICuentasService" />
                <binding name="BasicHttpBinding_ICampanasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17982/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="UsuarioWS.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
            <endpoint address="http://localhost:17982/PrestamosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamosService"
                contract="PrestamoWS.IPrestamosService" name="BasicHttpBinding_IPrestamosService" />
            <endpoint address="http://localhost:17982/CronogramasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICronogramasService"
                contract="CronogramaWS.ICronogramasService" name="BasicHttpBinding_ICronogramasService" />
            <endpoint address="http://localhost:17982/CuentasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentasService"
                contract="CuentaServices.ICuentasService" name="BasicHttpBinding_ICuentasService" />
            <endpoint address="http://localhost:17982/CampanasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampanasService"
                contract="CampanaWS.ICampanasService" name="BasicHttpBinding_ICampanasService" />
        </client>
    </system.serviceModel>
</configuration>